
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.logo{
    display: flex;
}
.el{
    border: 3px solid black;
    border-radius: 50%;
}
.el h1{
    font-size: 50px;
    padding: 20px;
    font-weight: 400;
   
}
.bora{
    margin-top: 10%;
    margin-left: 5px;
}
.bora h2{
    font-size: 30px;
    font-weight: 400;
}

 
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
}
nav ul li {
    display: inline;
    padding: 10px;
    margin-right: 10px;
    color: white;
     
}
nav ul li:hover{
    background-color:rgb(119, 31, 31);;
}
nav ul{
    margin-top: 40px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.details{
    display: flex;
     
}
.det{
    margin-left: 20%;
    margin-top: 20%;
}
.det h3{
font-size:24px;
font-weight:400;
}
.det h1{
font-size: 50px;
padding-top:10px;
letter-spacing: 3px;
}
span{
    color: #E16520;
}
.btn1{
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 40px;
    margin-top: 3%;
    color: whitesmoke;
    border:none;
    margin-bottom: 10%;
    background-color:#E16520;

}
.hp{
    /* background-color: whitesmoke; */
}
.btn1:hover{
    background-color: rgb(119, 31, 31);
}
.pic{
    margin-left: 40px;

}
#img{
    height:85%;
    width: 50%;
    /* border-radius: 8px;
    align-items: center; */
}
.about-me{
    display:flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    padding-top:3%;
    
      
}
 

.me-text{
    border:1px solid black;
    margin-left: -80%;
    background-color:black;
    border-radius: 8px;
}
.proj{
    text-align: center;
    padding-top: 5%;
}
.proj h1{
    font-size: 40px;
}
.proj h1::after{
    content: '';
    background: #E16520;
    display: block;
    margin: auto;
    height: 4px;
    margin-top: 20px;
    width: 180px; 
    margin-bottom: 3%;
}
.project-1{
    margin:0px 5%;
    display: flex;
    justify-content: space-evenly;
}
    
.inf{
    /* background-color:; */
    padding: 30px 20px;
    width: 300px;
    /* height:700px; */
    margin: 0px;
    border-radius: 5px;
    border:1px solid #E16520;
    box-shadow: 0px 15px 15px 0px #E16520;
}
.inf h3{
    font-size: 24px;
    font-weight: 400;
    color:#E16520;
    text-align: center;
    padding-top: 10px;
    padding-bottom:20px;
}
.inf h3::after{
    content: '';
    background: #E16520;
    display: block;
    margin: auto;
    height: 1px;
    margin-top: 10px;
    width: 100px; 
    margin-bottom: 1%;
}
.inf p{
    padding: 0px 20px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: left;
    line-height: 30px;

}
.inf h4{
    font-weight: 300;
    text-align: center;
}
.bt{
    padding:10px 30px;
    font-size: 20px;
    background-color: #E16520;
    color:white;
    border: none;
    border-radius:15px;
    margin-top: 3%;

}
.bt a{
    text-decoration: none;
    color: white;
}
.bt a:hover{
    color:black
}
 .ft{
     text-align: center;
     margin-top: 20px;
 }
.ft h1{
    font-size:25px;
    padding:20px;
}
.ft p{
    letter-spacing: 3px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}
 .ft h1::after{
    content: '';
    background: #E16520;
    display: block;
    margin: auto;
    height: 1px;
    margin-top: 5px;
    width: 100px; 
    margin-bottom: 1%;
 }
 .btnn{
     padding: 15px 25px;
     background-color: #E16520;
     color: white;
     font-size: 20px;
     border:none;
     
 }
