
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.logo{
    display: flex;
}
.el{
    border: 3px solid black;
    border-radius: 50%;
}
.el h1{
    font-size: 50px;
    padding: 20px;
    font-weight: 400;
   
}
.bora{
    margin-top: 10%;
    margin-left: 5px;
}
.bora h2{
    font-size: 30px;
    font-weight: 400;
}

 
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
}
nav ul li {
    display: inline;
    padding: 10px;
    margin-right: 10px;
}
nav ul li:hover{
    background-color:#E16520;;
}
nav ul{
    margin-top: 40px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.details{
    display: flex;
     
}
.det{
    margin-left: 20%;
    margin-top: 20%;
}
.det h3{
font-size:24px;
font-weight:400;
}
.det h1{
font-size: 50px;
padding-top:10px;
}
span{
    color: #E16520;
}
.btn1{
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 40px;
    margin-top: 3%;
    color: black;
    border:none;
    margin-bottom: 10%;

}
.hp{
    background-color: #c4c4c2;
}
.btn1:hover{
    background-color: #E16520
}
.pic{
    margin-left: 40px;

}
.img1{
    height:85%;
    width: 70%;
}
.about-me{
    display:flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    background-color:
}
 
